.advantages__desc-paragraph,
.advantages__desc-text {
  font-weight: 300;
  line-height: 120%;
  color: @basic-gray;
}

.advantages__list {
  background-color: @light-gray;
}

.advantages__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @basic-black;
}

.advantages__item-paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-gray;
}

.advantages__pic {
  background-image: url(../img/iphone.png);
}

.advantages__pic2 {
  background-image: url(../img/iphone-screen-2.png);
}

.advantages__pic3 {
  background-image: url(../img/iphone-screen-3.png);
}
