.feedback__text {
  font-weight: 300;
  line-height: 120%;
  color: @basic-gray;
}

.feedback__contacts-paragraph {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @basic-gray;
}

.feedback__contacts-link {
  font-weight: 300;
  line-height: 33px;
  color: @dark-red;
}

.feedback__map {
  background-image: url(../img/map.png);
}
