.footer {
  background-color: @basic-white;
}

.footer__social {
  display: flex;
}

.twitter {
  padding: 15px, 17px, 17px, 17px;
  border: 3px solid @border-social-gray;
}

.facebook {
  padding: 20px, 15px;
  border: 3px solid @border-social-gray;
}

.youtube {
  padding: 19px, 18px, 17px, 18px;
  border: 3px solid @border-social-gray;
}

.footer__copyright {
  display: flex;
}

.copyright-paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @basic-gray;
}
