.site-list {
  background-color: @basic-gray;
}

.site-list__item {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: @basic-white;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  padding: 116px, 25px;
}
