.slider-controls {
  display: flex;
}

.slider-controls__toggle {
  width: 6px;
  height: 6px;
  opacity: 0.3;
  border-radius: 50%;
  background-color: @basic-gray;
}

.current {
  width: 6px;
  height: 6px;
  background: @basic-white;
  border: 3px solid @basic-gray;
}
